#footerMain {
  background-color: #282828;
}

#textoFooterInv {
  font-size: 15px;
  text-align: center;
}

#iconoFooter {
  color: #7A7A7A
}
#txtFooterMedikapp{
  font-size: 2rem;
  color: white;
}
#txtFooterTech{
  font-size: medium;
  font-weight: 300;
}