<div class="container">
  <br>
  <img src="assets/images/modelotarifario.png" class="img-fluid d-inline-block align-top" alt="">
  <!-- <h1 style="text-align: center;">Modelo Tarifario</h1>
        <h3 style="text-align: center;">Movilidad Activa y Sostenible de la Universidad de Cuenca</h3> -->
  <br><br>
  <p>
    La Universidad de Cuenca es una entidad que busca ser responsable con la ciudad, pues está
    consciente del impacto negativo que la motorización produce. Entiende que la generación y atracción
    de viajes hacia cada uno de sus campus impacta en los barrios circundantes y en la red viaria,
    especialmente en los periodos pico. Por lo que el objetivo de la institución en materia de vialidad es
    <b>“Mitigar y/o disminuir los impactos que produce la motorización a través de medidas que propendan
      un cambio de conducta de movilidad dentro de la comunidad universitaria y estimule la movilidad
      activa y sostenible. ”</b>
    <br>
    <br>
    El presente aplicativo web es el resultado del proyecto técnico
    <span style="font-style: italic;">
      "Modelo de Gestión de la zona de aparcamiento en la Universidad de Cuenca"
    </span>
    que desarrolla un objetivo del proyecto de investigación central
    <span style="font-style: italic;">
      “Parámetros que influyen en la adhesión y permanencia a un sistema de viaje
      compartido en una comunidad universitaria. Estudio de caso: Programa de Viaje Compartido de la
      Universidad de Cuenca”
    </span>.
    <br>
    <br>
    Dicho proyecto es el esfuerzo en conjunto realizado por el grupo de
    <span>
      <a id="linkPaginas"
        href="https://www.ucuenca.edu.ec/nosotros/comunidad-universitaria/movilidad-activa-y-sostenible">Movilidad
        Activa y Sostenible</a>
    </span>
    y <span><a id="linkPaginas" href="https://www.ucuenca.edu.ec/dtics">DTICs -
        Universidad de Cuenca</a></span>, llevado a cabo
    en el marco del trabajo de titulacion llamado
    <span style="font-style: italic;">
      "Microservicios aplicados a la integración y análisis de datos orientados al cálculo de una tarifa
      diferencial
      para aparcaderos de vehículos privados. Caso de estudio: Campus Central de la Universidad de Cuenca."
    </span>
    <br><br>
    Es asi, por el cual, este modelo presenta las ventajas de tener una integración de diversas áreas del
    conocimiento,
    desde un análisis de los patrones de movilidad de los docentes, administrativos y trabajadores de la
    <span><a id="linkPaginas" href="https://www.ucuenca.edu.ec/dtics">Universidad de
        Cuenca</a></span>
    incluyendo áreas de conocimiento de desarrollo de sistemas computacionales inteligentes, consolidado por
    técnicas de integración de
    datos mediante DataWarehouse,
    ánalisis de datos mediante herramientas de BI (Business Intelligence), técnicas de Machine
    Learning para el descubrimiento de patrones de agrupación y finalizando con microservicios para el
    despliegue limpio de los sistemas.
    <br>
  </p>


</div>
