<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-12"></div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-12" >
        <img src="assets/images/medikall.png" class="img-fluid d-inline-block align-top" alt="logoMedikApp"  id="imagenLogoHome">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-12"></div>
    </div>
    <h1>Gestión de Pacientes</h1>
    <p>
      <b>Descripción: </b>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac massa risus, adipiscing interdum enim,
      nam faucibus eu. Elit scelerisque quam est lorem lacus blandit suspendisse duis elit. Id euismod accumsan tellus
      tincidunt in sit diam. Iaculis lacus auctor sed faucibus leo. Venenatis amet, netus sed dapibus. Proin sed nulla
      euismod vitae, aliquet sit scelerisque ornare. Mauris mi, lobortis hac egestas in enim, dui tellus enim.
      In leo feugiat tortor massa nisi placerat bibendum viverra. Tincidunt sed sem nulla amet odio posuere. Venenatis
      gravida enim tristique at. Lectus tortor vel lorem sed bibendum. Platea nunc phasellus tristique rhoncus
      consectetur. Massa vel nulla enim, pretium eu sagittis odio consectetur amet. Id quam eget odio lorem feugiat eu
      donec vitae. Enim odio elementum mi, eget facilisis tempor. Sit habitasse fusce pellentesque tellus, viverra
      habitant massa ipsum.
      <br>
      <br>
      <div class="container mt-3 mb-5">
        <div class="row filaEjemplo">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/1.png" alt="Dr. Luis Ávila Carrera">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dr. Luis Ávila Carrera</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cirujano Ginecólogo - Obstetra
                  Colposcopista</h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” #305 Tercer Piso
                  <br>
                  <b>Horario de Atención:</b> 16:00 A 19:00
                  <br>
                  <b>Teléfonos:</b> (07) 2981-277 / 0984487593
                  <br>
                  <b>E-mail:</b> drlavila@hotmail.com
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/2.png" alt="Dr. Carlos Correa">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dr. Carlos Correa </h5>
                <h6 class="card-subtitle mb-2 text-muted">Cardiólogo</h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” #401 Cuarto Piso
                  <br>
                  <b>Horario de Atención:</b> 9.00 a 13:00 / 15:00 a 19:00
                  <br>
                  <b>Teléfonos:</b> (07)2984-144 / 0995551717
                  <br>
                  <b>E-mail:</b> c.correa@hotmail.com
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/4.png" alt="Dra. Saida Correa Acosta">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dra. Saida Correa Acosta</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cardióloga</h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” #401 Cuarto Piso
                  <br>
                  <b>Horario de Atención:</b> 9.00 a 13:00 / 15:00 a 19:00
                  <br>
                  <b>Teléfonos:</b> (07)2984-144 / 0995551717
                  <br>
                  <b>E-mail:</b> saida.correa@hotmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row filaEjemplo">
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/3.png" alt="Dra. Patricia Díaz">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dra. Patricia Díaz</h5>
                <h6 class="card-subtitle mb-2 text-muted">Laboratorio Clínico
                </h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” Planta baja
                  <br>
                  <b>Horario de Atención:</b> Lunes a Domingo 24 horas
                  <br>
                  <b>Teléfonos:</b> (07) 2981010 / (07) 2981060
                  <br>
                  <b>E-mail:</b> centrodebionalisis@gmail.com
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/4.png" alt="Dr. Josefa Acosta">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dr. Josefa Acosta</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cardióloga</h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” #401 Cuarto Piso
                  <br>
                  <b>Horario de Atención:</b> 9.00 a 13:00 / 15:00 a 19:00
                  <br>
                  <b>Teléfonos:</b> (07)2984-144 / 0995551717
                  <br>
                  <b>E-mail:</b> jf.acosta@hotmail.com
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-12">
            <div class="card">
              <img class="card-img-top" src="assets/images/1.png" alt="Dr. Martina Espinoza">
              <div class="card-body card-ejemplos">
                <h5 class="card-title">Dr. Martina Espinoza</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cardióloga</h6>
                <p class="card-text">
                  <b>Consultorio:</b> Torre Medica “ABC” #401 Cuarto Piso
                  <br>
                  <b>Horario de Atención:</b> 9.00 a 13:00 / 15:00 a 19:00
                  <br>
                  <b>Teléfonos:</b> (07)2984-144 / 0995551717
                  <br>
                  <b>E-mail:</b> m.esp@hotmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
