<div class="container">
  <div class="container">
    <h1 style="text-align: center;">Modelo Tarifario Diferencial</h1>
    <h3 style="text-align: center;">Calculo con nuevos pesos</h3>
    <p>
      Ingresa nuevos pesos a los factores y visualiza el comportamiento del modelo en los datos existentes.
    </p>
    <hr>
    <div class="card">
      <h5 class="card-header">Agregar pesos</h5>
      <form action="" class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h6>Peso del Factor Distancia</h6>
            <input class="form-control" type="search" #peso1 placeholder="Ingresa peso 1" type="number" min="0"
              style="background-color: #EEEEEE;border-radius: 30px;" id="__peso1"
              (keydown.enter)="getAllServidor(peso1,peso2,peso3,peso4)">
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h6>Peso del Factor Cautividad</h6>
            <input class="form-control" type="search" #peso2 placeholder="Ingresa peso 2" type="number" min="0"
              style="background-color: #EEEEEE;border-radius: 30px;" id="__peso2"
              (keydown.enter)="getAllServidor(peso1,peso2,peso3,peso4)">
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h6>Peso del Factor Dedicación</h6>
            <input class="form-control" type="search" #peso3 placeholder="Ingresa peso 3" type="number" min="0"
              style="background-color: #EEEEEE;border-radius: 30px;" id="__peso3"
              (keydown.enter)="getAllServidor(peso1,peso2,peso3,peso4)">
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h6>Peso del Factor Titularidad</h6>
            <input class="form-control" type="search" #peso4 placeholder="Ingresa peso 4" type="number" min="0"
              style="background-color: #EEEEEE;border-radius: 30px;" id="__peso4"
              (keydown.enter)="getAllServidor(peso1,peso2,peso3,peso4)">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <button class="btn mt-3 btn-block" (click)="getAllServidor(peso1,peso2,peso3,peso4)"
              style="background-color:#F3E4B2;">Calcular</button>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
        </div>
      </form>
    </div>
    <hr>
    <div class="row mt-4 mb-3">
      <!-- <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
      <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
        <input class="form-control" type="search" placeholder="Buscar por cédula">
      </div> -->
    </div>
  </div>
  <div class="table-responsive container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <h4> Pesos Empleados </h4>
        Peso Distancia: <span id="pdistancia">-</span>,
        Peso Cautividad: <span id="pcautividad">-</span>,
        Peso Dedicacion: <span id="pdedicacion">-</span>,
        Peso Titularidad: <span id="ptitularidad">-</span>
        <br>
        <br>
        <h4> Tarifas según los pesos </h4>
        Tarifa mínima (USD):<span id="tminima">-</span>,
        Tarifa máxima (USD):<span id="tmaxima">-</span>,
        Tarifa promedio (USD):<span id="tpromedio">-</span>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <button class="btn" (click)="download()" style="background-color:#86754D; color: white;">
          Descargar CSV<i class="fa fa-download" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead style="background-color: #EEEEEE;">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Factor Distancia</th>
          <th scope="col">Factor Cautividad</th>
          <th scope="col">Factor Dedicación</th>
          <th scope="col">Factor Titularidad</th>
          <th scope="col">Tarifa Calculada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of servidores | paginate: { itemsPerPage: 20, currentPage: pageActual }">
          <th scope="row">{{data.cedula}}</th>
          <td>{{data.facDistacancia}}</td>
          <td>{{data.facCautividad}}</td>
          <td>{{data.facDedicacion}}</td>
          <td>{{data.facTitularidad}}</td>
          <td class="texto-tarifa">{{data.tarifa}} $</td>
        </tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <tr>
        </tr>
      </tbody>
    </table>
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActual = $event">
    </pagination-controls>
  </div>
</div>
