<footer class="text-light textPoppins" style="position:relative;width: 100%;" id="footerMain">
  <div class="row ">
    <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 mb-5" style="padding-top: 1.5rem;">
      <div class="copyright" id="textoFooter">
        <h1 id="textoFooterInv">
          <span style="font-size: 20px;">
            <br>
            <strong>MedikApp</strong> - 2020 </span>
          <br>
          <span style="font-size: 10px;">
            <br>
            <strong>Tecnologías empleadas</strong></span>
          <br>
          <br>
          <a href="https://spring.io/projects/spring-boot" target="_blank"><img src="assets/images/aspnet_icon.png"
              width="40" class="d-inline-block align-top mr-2 ml-2" alt="Spring Boot usada para el BackEnd"></a>
          <a href="https://angular.io" target="_blank"><img src="assets/images/angular_icon.png" width="40"
              class="d-inline-block align-top mr-2 ml-2" alt="Angular usada para el FrontEnd"></a>
        </h1>
        <hr>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
    </div>
  </div>
</footer>
