.textPoppins {
  font-family: 'Open Sans', sans-serif;
}

.textLora {
  font-family: 'Hind', serif;
}

#textoFooterInv {
  font-size: 15px;
  text-align: center;
}

#iconoFooter {
  color: #7A7A7A
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Hind', serif;
  text-align: justify;
}

/* navbar  */
.active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #01AA95;
  color: #4F4F4F;
}

.navbar-custom {
  background-color: #DFE3EB;
}

/* footer */
#footerMain {
  background-color: #4F4F4F;
}

ul {
  font-family: 'Hind', serif;
  text-align: justify;
}

.card-ejemplos {
  background-color: #EEEEEE;
}

/* links paginas  */
#linkPaginas {
  font-weight: 600;
  color: #001589;
}

.ngx-pagination {
  padding-left: 0px !important;
  font-family: 'Open Sans', sans-serif;
}

.ngx-pagination .current,
.btn-info {
  background: #17A2B8 !important;
  border: transparent !important;
  border-radius: 20px !important;
  font-family: 'Open Sans', sans-serif;
}

#btnAgregarPrincipal {
  background: #17A2B8 !important;

}

.ngx-pagination .current:hover {
  background: #17A2B8 !important;
  border-radius: 20px !important;
  border: transparent !important;
  font-family: 'Open Sans', sans-serif;

}

/* medikalapp */
#tituloGestion {
  color: #01AA95;
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h1{
  text-align:center;
}


/* tabla */
thead {
  background-color: #DFE3EB;
}

/* container agregar editar paciente */
#divEditarPaciente,
#divAgregarPaciente {
  background-color: #DFE3EB;
  border-radius: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

/* .btnCss{
  float: right;
} */
