<div class="container">
  <div class="center">
    <br>
    <h1 style="text-align:center" id="tituloGestion">CRUD Pacientes</h1>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-info" (click)="btnAddPaciente()" *ngIf="btnAgregarngIf">Agregar Paciente</button>

      </div>
      <div class="col-6" id="comboboxDrs">
      </div>
    </div>
    <form [formGroup]="formAdd" autocomplete="off" novalidate>
      <div class="container" id="divAgregarPaciente" *ngIf="divAdd" style="background-color: #DFE3EB; margin-top: 4px;">
        <h5>Agregar Paciente</h5>
        <input type="text" class="form-control" formControlName="iptAddNombres" aria-describedby="emailHelp"
          placeholder="Nombres y Apellidos">
        <br>
        <br>
        <select class="custom-select" formControlName="selectListAddDrs">
          <option value="" disabled>Elige un Doctor/a</option>
          <option [ngValue]="doctor" *ngFor="let doctor of doctores">{{doctor.nombre}}</option>
        </select>
        <br>
        <br>
        <input type="text" class="form-control" formControlName="iptAddDireccion" aria-describedby="emailHelp"
          placeholder="Direccion">
        <br>
        <input type="text" class="form-control" formControlName="iptAddTelefono" aria-describedby="emailHelp"
          placeholder="Telefono">
        <br>
        <button type="submit" class="btn btn-success" (click)="btnAddPacienteBD()">Agregar</button>
        <br>
        <br>
      </div>
    </form>

    <form [formGroup]="formEdit" autocomplete="off" novalidate>
      <div class="container" id="divEditarPaciente" *ngIf="divEdit" style="background-color: #DFE3EB; margin-top: 4px;">
        <h5>Editar Paciente</h5>
        <input type="text" class="form-control" formControlName="iptEditNombres" aria-describedby="emailHelp"
          placeholder="Nombres y Apellidos">
        <br>
        <br>
        <select class="custom-select" formControlName="selectListEditDrs">
          <option value="" disabled>Elige un Doctor/a</option>
          <option [ngValue]="doctor" *ngFor="let doctor of doctores">{{doctor.nombre}}</option>
        </select>
        <br>
        <br>
        <input type="text" class="form-control" formControlName="iptEditDireccion" aria-describedby="emailHelp"
          placeholder="Direccion">
        <br>
        <input type="text" class="form-control" formControlName="iptEditTelefono" aria-describedby="emailHelp"
          placeholder="Telefono">
        <br>
        <button type="submit" class="btn btn-warning" id="btnEditPaciente" (click)="saveEditCambios()">Editar</button>
        <!-- iptEditNombres,selectListEditDrs,iptEditDireccion,iptEditTelefono -->
        <br>
        <br>
      </div>
    </form>
    <div class="table-responsive container mt-4" *ngIf="divTabla">
      <table class="table table-bordered">
        <thead style="background-color: #DFE3EB;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Doctor/a</th>
            <th scope="col">Telefono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes | paginate: { itemsPerPage: 20, currentPage: pageActual }">
            <th scope="row">{{paciente.id}}</th>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.id_doctor}}</td>
            <td>{{paciente.telefono}}</td>
            <td>{{paciente.direccion}}</td>
            <td>
              <button type="button" class="btn btn-warning"
                (click)="btnEditPaciente(paciente.id,paciente.nombre,paciente.id_doctor,paciente.telefono,paciente.direccion)">Editar</button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="btnEliminarPaciente(paciente.id)">Eliminar</button>
            </td>
          </tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <tr>
          </tr>
        </tbody>
      </table>
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActual = $event">
      </pagination-controls>
    </div>
  </div>
</div>
