<div class="container">
  <div class="center">
    <br>
    <h1 style="text-align:center" id="tituloGestion">CRUD Pacientes</h1>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-info">Agregar Paciente</button>

      </div>
      <div class="col-6" id="comboboxDrs">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Todos
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Todos</a>
            <a class="dropdown-item" href="#">Dr. Luis Ávila Carrera</a>
            <a class="dropdown-item" href="#">Dr. Carlos Correa</a>
            <a class="dropdown-item" href="#">Dra. Saida Correa Acosta</a>
            <a class="dropdown-item" href="#">Dra. Patricia Díaz</a>
            <a class="dropdown-item" href="#">Dr. Josefa Acosta</a>
            <a class="dropdown-item" href="#">Dr. Martina Espinoza</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="divAgregarPaciente" style="background-color: #DFE3EB; margin-top: 4px;">
      <h5>Agregar Paciente</h5>
      <input type="text" class="form-control" id="iptAddNombres" aria-describedby="emailHelp"
        placeholder="Nombres y Apellidos">
      <br>
      <div class="form-group">
        <label for="sel1">Selecciona un Doctor/a:</label>
        <select class="form-control" id="selectListAddDrs">
          <option>Dr. Luis Ávila Carrera</option>
          <option>Dr. Carlos Correa</option>
          <option>Dra. Saida Correa Acosta</option>
          <option>Dra. Patricia Díaz</option>
          <option>Dr. Josefa Acosta</option>
          <option>Dr. Martina Espinoza</option>
        </select>
      </div>
      <input type="text" class="form-control" id="iptAddDireccion" aria-describedby="emailHelp" placeholder="Direccion">
      <br>
      <input type="text" class="form-control" id="iptAddTelefono" aria-describedby="emailHelp" placeholder="Telefono">
      <br>
      <button type="button" class="btn btn-success" id="btnAddPaciente">Agregar</button>
      <br>
      <br>
    </div>
    <div class="container" id="divEditarPaciente" style="background-color: #DFE3EB; margin-top: 4px;">
      <h5>Editar Paciente</h5>
      <input type="text" class="form-control" id="iptAddNombres" aria-describedby="emailHelp"
        placeholder="Nombres y Apellidos">
      <br>
      <div class="form-group">
        <label for="sel1">Selecciona un Doctor/a:</label>
        <select class="form-control" id="selectListAddDrs">
          <option>Dr. Luis Ávila Carrera</option>
          <option>Dr. Carlos Correa</option>
          <option>Dra. Saida Correa Acosta</option>
          <option>Dra. Patricia Díaz</option>
          <option>Dr. Josefa Acosta</option>
          <option>Dr. Martina Espinoza</option>
        </select>
      </div>
      <input type="text" class="form-control" id="iptAddDireccion" aria-describedby="emailHelp" placeholder="Direccion">
      <br>
      <input type="text" class="form-control" id="iptAddTelefono" aria-describedby="emailHelp" placeholder="Telefono">
      <br>
      <button type="button" class="btn btn-warning" id="btnAddPaciente">Editar</button>
      <br>
      <br>
    </div>
    <div class="table-responsive container mt-4">
      <table class="table table-bordered">
        <thead style="background-color: #DFE3EB;">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Doctor/a</th>
            <th scope="col">Telefono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of servidores | paginate: { itemsPerPage: 20, currentPage: pageActual }">
            <th scope="row">{{data.cedula}}</th>
            <td>{{data.facDistacancia}}</td>
            <td>{{data.facCautividad}}</td>
            <td>{{data.facDedicacion}}</td>
            <td>{{data.facTitularidad}}</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-warning">Editar</button>&nbsp;
            <button type="button" class="btn btn-danger">Eliminar</button></td>
          <tr>
          </tr>
        </tbody>
      </table>
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageActual = $event">
      </pagination-controls>
    </div>
  </div>
</div>
