<!-- <app-cabecera></app-cabecera> -->

<!-- <app-contenido></app-contenido> -->
<!-- <app-modelo></app-modelo> -->
<!-- <app-buscador></app-buscador> -->
<!-- <app-calcular></app-calcular> -->
<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>

<app-cabecera></app-cabecera>
<router-outlet></router-outlet>
<app-footer></app-footer>
